body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: cover;
    background-repeat: no-repeat;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

input {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.mint-wallet-list {
    list-style-type: decimal;
    padding-left: 10px;
}

.profile-setter{
    margin: 20px;
    color: white;
}

.mint-wallet-card {
    background-color: rgba(190, 154, 249, 0.5);
}
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: start;
    align-items: top;
    justify-content: center;
    text-align: center; /* centers text within element */
}

.left-side {
    border-right: 1px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: top; /* centers text within element */
}
.right-side {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* centers text within element */
}

.walletsTab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

.create-wallet,
.mint-wallet-cards {
    margin-bottom: 20px;
    align-items: center;
}
.functionDisplay {
    height: flex;
    width: 500px;
    padding: 10px;
    border: 4px solid #bdcdfb;
    display: inline-block;
    background-color: rgba(190, 154, 249, 0.5);
}
.functionContainers {
    padding: 10px;
}
.buttons {
    border-radius: 5px;
    background-color: #995db1;
    border: 1px solid #9126ee;
    color: aliceblue;
    margin-top: 10px;
    padding: 2px;
    transition: all 0.3s ease-in-out;
}

.dashboard-Card {
    border: 1px solid #0f1011;
    margin-left: 10px;
    border-radius: 3px;
    background-color: bisque;
    padding: 5px;
    color: #000000;
    padding-top: -50px;
}

.taskNameColor {
    color: #cb5af8;
}

.tab-content {
    width: 100%;
    color: #ffffff;
}

.dashboardInformer {
    color: rgb(187, 26, 109);
}

.dashboard-Taskinputs {
    padding: 5px;
    justify-content: left;
    text-align: left;
}

.nothingness {
    text-align: center;
}

.dashboard-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: start;
    align-items: top;
    justify-content: center;
    text-align: center; /* centers text within element */
}

.private-key {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 300px; /* Set the maximum width to the desired value */
}

.dashboard-user {
    color: #ffffff;
    font-family: "Nunito", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 460px;
}

.dashboard-rectangle {
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(58, 49, 103, 0.35);
    border: 1.5px solid #ffffff;
    border-radius: 40px;
    backdrop-filter: blur(300px);
    color: #ffffff;
    height: 50px;
    width: 278px;
    margin-left: 20px;
}
.dashboard-rectangle:hover {
    background-color: rgb(61, 9, 121, 0.6);
}

.frame-header {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-left: 81px;
    gap: 60px;
    width: 725px;
    height: 35px;
    align-items: center;
}
.topOfPage {
    padding-top: 40px;
}
.frame-elements {
    position: relative;
    color: #cccccc;
    font-family: "Nunito", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 10px 3px;
    border-radius: 20px;
}

.frame-elements::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
}

.frame-elements:hover {
    color: #ffffff;
}

.frame-elements:hover::before {
    width: 100%;
}

.frame-elements:focus {
    outline: none;
}

.frame-elements:focus::before {
    width: 0%;
}

.tab-content-container {
    width: 100%;
    max-width: 1200px; /* adjust this value based on your desired content width */
    margin: 0 auto;
}

.buttons:hover {
    background-color: #b407f9;
}

/* Add this CSS to your stylesheet */
.functionDisplay label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dashboard-dashboard-wrapper {
    background-image: url(./images/gradient2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
}
.selectclass {
    color: black;
}
.hidden {
    display: none;
}

.dashboard-botpage-wrapper {
    background-image: url(./images/gradient2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

.connect-wallet-container {
    background-image: url(./images/gradient2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
}

.cw-info-bar {
    display: flex;
    align-items: flex-end;
    width: 1030px;
    height: 721px;
    border: 2px solid #ffffff;
    border-radius: 45px;
    background-color: rgba(106, 60, 150, 0.3);
    backdrop-filter: blur(150px);
    box-sizing: border-box;
}

.cw-info-bar > * {
    margin: 20px 0;
}

.cw-buttons-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    width: 100%;
    height: 100px;
    padding: 73px;
}

.cw-logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 100px;
}

.cw-button {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    position: relative;
    width: 324px;
    height: 79px;
    margin: 0 55px;
    background: rgba(36, 15, 74, 0.8);
    backdrop-filter: blur(200px);
    border-radius: 45px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cw-button-active {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    position: relative;
    width: 324px;
    height: 79px;
    margin: 0 55px;
    background: rgba(241, 238, 18, 0.8);
    backdrop-filter: blur(200px);
    border-radius: 45px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.dashboard-overlap {
    position: relative;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    gap: 200px;
}

.dashboard-flapnft-website-favicon-black {
    object-fit: cover;
    top: 37px;
    left: 111px;
    width: 138px;
    height: 115px;
}

.dashboard-frame {
    position: absolute;
    top: 77px;
    height: 35px;
    width: 72px;
    left: 881px;
}

.dashboard-frame-home {
    position: absolute;
    top: 77px;
    height: 35px;
    width: 72px;
    left: 581px;
}

.dashboard-text-wrapper {
    color: #ffffff;
    font-family: "Nunito", Helvetica;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
}

.dashboard-frame-6 {
    position: absolute;
    top: 77px;
    left: 1228px;
    height: 35px;
    width: 72px;
}

.dashboard-div {
    position: absolute;
    top: 8px;
    left: 64px;
    color: #ffffff;
    font-family: "Nunito", Helvetica;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    width: 156px;
}

.typo-positioner {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 250px;
}

.dashboard-h-1 {
    position: relative;
}

.join-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    margin-top: 100px;
}

.dashboard-group {
    width: 297px;
    height: 92px;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    filter: drop-shadow(15px 22px 4px rgba(0, 0, 0, 0.25));
    border: 4px solid #ffffff;
    color: aliceblue;
    transition: all 0.2s ease-in-out;
    font-size: 40px;
    text-align: center;
}

.dashboard-group:hover {
    background-color: rgb(61, 9, 121, 0.6);
}

.dashboard-group-6 {
    width: 297px;
    height: 92px;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    filter: drop-shadow(15px 22px 4px rgba(0, 0, 0, 0.25));
    border: 4px solid #ffffff;
    color: aliceblue;
    transition: all 0.2s ease-in-out;
    font-size: 40px;
    text-align: center;
}
.dashboard-group-6:hover {
    background-color: rgb(61, 9, 121, 0.6);
}

.dashboard-rectangle-10 {
    border: 1px solid #000000;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 45px;
    box-shadow: 40px 4px 9px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(250px);
    height: 70vh;
    margin: 50px;
    margin-top: 80px;
    display: flex;
}

.info-giver {
    align-items: flex-start;
    justify-content: center;
}
