body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

input {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.mint-wallet-list {
    list-style-type: decimal;
    padding-left: 10px;
}

.mint-wallet-card {
    padding: 10px;
    margin-bottom: 2px;
}
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: start;
    align-items: top;
    justify-content: center;
    text-align: center; /* centers text within element */
}

.left-side {
    border-right: 1px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: top; /* centers text within element */
}
.right-side {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* centers text within element */
}

h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

.create-wallet,
.mint-wallet-cards {
    margin-bottom: 20px;
    align-items: center;
}
.functionDisplay {
    height: flex;
    width: 500px;
    padding: 10px;
    border: 4px solid #82bde4;
    border-radius: 5px;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.functionContainers {
    padding: 10px;
}
.buttons {
    border-radius: 5px;
    background-color: #82bde4;
    border: 1px solid #426983;
    color: aliceblue;
    margin-top: 10px;
    padding: 2px;
}

.dashboard-Card {
    border: 1px solid #0f1011;
    margin-left: 10px;
    border-radius: 3px;
    background-color: bisque;
    padding: 5px;
}

.taskNameColor {
    color: rgb(53, 94, 133);
}

.dashboardInformer {
    color: rgb(187, 26, 109);
}

.dashboard-Taskinputs {
    padding: 5px;
    justify-content: left;
    text-align: left;
}

.nothingness {
    text-align: center;
}

.dashboard-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: start;
    align-items: top;
    justify-content: center;
    text-align: center; /* centers text within element */
}

.private-key {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 300px; /* Set the maximum width to the desired value */
}

.buttons:hover {
    background-color: #33aafa;
}

/* Add this CSS to your stylesheet */
.functionDisplay label:hover {
    cursor: pointer;
    text-decoration: underline;
}
