body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("/root/basemov2/Basemo/eth_app/src/components/Gradient.png");
    background-size: cover;
    background-repeat: no-repeat;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

input {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.mint-wallet-list {
    list-style-type: decimal;
    padding-left: 10px;
}

.mint-wallet-card {
    background-color: rgb(239, 193, 252);
}
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: start;
    align-items: top;
    justify-content: center;
    text-align: center; /* centers text within element */
}

.left-side {
    border-right: 1px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: top; /* centers text within element */
}
.right-side {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* centers text within element */
}

.walletsTab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

.create-wallet,
.mint-wallet-cards {
    margin-bottom: 20px;
    align-items: center;
}
.functionDisplay {
    height: flex;
    width: 500px;
    padding: 10px;
    border: 4px solid #aa4afe;
    display: inline-block;
    background-color: rgb(239, 193, 252);
}
.functionContainers {
    padding: 10px;
}
.buttons {
    border-radius: 5px;
    background-color: #995db1;
    border: 1px solid #9126ee;
    color: aliceblue;
    margin-top: 10px;
    padding: 2px;
    transition: all 0.3s ease-in-out;
}

.dashboard-Card {
    border: 1px solid #0f1011;
    margin-left: 10px;
    border-radius: 3px;
    background-color: bisque;
    padding: 5px;
}

.taskNameColor {
    color: #cb5af8;
}

.tab-content {
    width: 100%;
}

.dashboardInformer {
    color: rgb(187, 26, 109);
}

.dashboard-Taskinputs {
    padding: 5px;
    justify-content: left;
    text-align: left;
}

.nothingness {
    text-align: center;
}

.dashboard-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: start;
    align-items: top;
    justify-content: center;
    text-align: center; /* centers text within element */
}

.private-key {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 300px; /* Set the maximum width to the desired value */
}

.dashboard-user {
    color: #ffffff;
    font-family: "Nunito", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 460px;
}

.dashboard-rectangle {
    background-color: #d9d9d9;
    height: 3px;
    left: 0;
    position: absolute;
    top: 191px;
    width: 1728px;
}

.frame-header {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-left: 81px;
    gap: 60px;
    width: 725px;
    height: 35px;
    align-items: center;
}
.topOfPage {
    padding-top: 40px;
}
.frame-elements {
    position: relative;
    color: #cccccc;
    font-family: "Nunito", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 10px 3px;
    border-radius: 20px;
}

.frame-elements::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
}

.frame-elements:hover {
    color: #ffffff;
}

.frame-elements:hover::before {
    width: 100%;
}

.frame-elements:focus {
    outline: none;
}

.frame-elements:focus::before {
    width: 0%;
}

.tab-content-container {
    width: 100%;
    max-width: 1200px; /* adjust this value based on your desired content width */
    margin: 0 auto;
}

.buttons:hover {
    background-color: #b407f9;
}

/* Add this CSS to your stylesheet */
.functionDisplay label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dashboard-dashboard-wrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.dashboard-dashboard {
    background-color: #ffffff;
    border: 1px none;
    width: 1920px;
    height: 1080px;
}

.dashboard-overlap {
    background-image: url(/root/basemov2/Basemo/eth_app/src/components/gradient2.png);
    background-size: 100% 100%;
    height: 1080px;
    position: relative;
}

.dashboard-flapnft-website-favicon-black {
    position: absolute;
    object-fit: cover;
    top: 37px;
    left: 111px;
    width: 138px;
    height: 115px;
}

.dashboard-frame {
    position: absolute;
    top: 77px;
    height: 35px;
    width: 72px;
    left: 881px;
}

.dashboard-frame-home {
    position: absolute;
    top: 77px;
    height: 35px;
    width: 72px;
    left: 581px;
}

.dashboard-text-wrapper {
    color: #ffffff;
    font-family: "Nunito", Helvetica;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    left: 0;
}

.dashboard-frame-6 {
    position: absolute;
    top: 77px;
    left: 1228px;
    height: 35px;
    width: 72px;
}

.dashboard-rectangle {
    -webkit-backdrop-filter: blur (600px) brightness(100%);
    backdrop-filter: blur (600px) brightness (100%);
    background-color: #00000040;
    border: 1.5px solid;
    border-color: #ffffff;
    border-radius: 40px;
    box-shadow: 15px 22px 4px #00000040;
    height: 50px;
    left: 1535px;
    position: absolute;
    top: 67px;
    width: 278px;
}

.dashboard-div {
    position: absolute;
    top: 8px;
    left: 64px;
    color: #ffffff;
    font-family: "Nunito", Helvetica;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    width: 156px;
}

.dashboard-h-1 {
    -webkit-text-stroke: 2px #000000;
    color: #ffffff;
    font-family: "Helvetica-Regular", Helvetica;
    font-size: 128px;
    font-weight: 400;
    left: 666px;
    letter-spacing: 0;
    line-height: normal;

    position: absolute;
    text-shadow: 17 5px 11px rgba(0, 0, 0, 0.25);
    top: 290px;
}

.dashboard-group {
    position: absolute;
    top: 504px;
    width: 297px;
    height: 92px;
    left: 606px;
}

.dashboard-group-6 {
    position: absolute;
    top: 504px;
    width: 297px;
    height: 92px;
    left: 985px;
}

.dashboard-rectangle-10 {
    height: 377px;
    left: 111px;
    position: absolute;
    top: 703px;
    width: 1751px;
}
