.homepage {
    background-color: #2e2ca6;
    background-image: url("./background.jpg");
    height: 100vh;
  }
  
  .btn-container {
    text-align: center;
  }
  
  .brand-name {
    margin-left: 20px;
    font-size: 50px;
  }
  
  .btn-orange {
    background-color: #582f0f; /* or any other color that you like */
    color: rgb(214, 191, 191);
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px #888888;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 30px;
  }
  
  .btn-orange:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px #888888;
  }